.single_route {
  margin-top: 85px;
  .single_card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    img {
      width: 60%;
      object-fit: cover;
      margin: 0 auto;
      border-radius: 12px;
    }
  }
  .mini_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    gap: 24px;
    margin-top: 36px;
    img {
      width: 200px;
      height: 200px;
      object-fit: contain;
      transition: 0.4s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .single_card_info {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    h1 {
      font-family: Poppins;
      font-size: 64px;
      font-weight: 600;
      line-height: 72px;
      letter-spacing: -0.03em;
      text-align: left;
      color: #1d3444;
    }
    h2 {
      color: #0d1317;
      font-family: Poppins;
      font-size: 48px;
      font-weight: 500;
      line-height: 56px;
      letter-spacing: -0.03em;
      text-align: left;
    }
    p {
      font-family: Poppins;
      font-size: 17px;
      font-weight: 500;
      line-height: 28px;
      text-align: left;
      color: #5b5b5b;
    }
    span {
      font-family: Poppins;
      font-size: 32px;
      font-weight: 600;
      line-height: 24px;
      color: #3bb77e;
    }
    .buy {
      display: flex;
      align-items: center;
      gap: 44px;
      button {
        padding: 10px 36px;
        border-radius: 13px;
        background-color: rgb(209, 38, 38);
        color: #fff;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
